# Aiken compilation artifacts
onchain/artifacts/
# Aiken's project working directory
onchain/build/
# Aiken's default documentation export
onchain/docs/

onchain/plutus.json


offchain/compiled/*
node_modules/